.ddd {
  color: rgb(0, 0, 0);
}
.ddd span {
  color: white;
}
.logo {
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: white;
  letter-spacing: -1.8px;
}
.vitau {
  margin-bottom: 50px;
  margin-top: 20px;
}
.font {
  font-size: 16px;
  font-weight: 500;
  margin-left: 2rem;
}
.blue {
  background: #4b8ec3;
}
.sdd table {
  width: 100% !important;
}
.header {
  background: #3e699e;
}
.container1 {
  padding-right: 20px;
}
.sdd {
  margin-left: auto;
}
.hamburger {
  display: flex;
  align-items: center;
}
.az-header-menu-icon {
  display: block;
  position: absolute;
  top: 30px;
}
.modal-window {
  background: #ffffff;
  padding: 12px;
  border-radius: 5px;
}
.modal-content-demo {
  width: auto;
}

.fc-center {
  text-transform: capitalize;
}
.fc-button {
  background: #3e699e;
  border: none;
}
.patient-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.form-control {
  margin-bottom: 10px;
}
.patient-user {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.patient-info {
  display: flex;
}
.staff-users {
  padding: 20px;
  margin-bottom: 1rem;
}
.staff-right {
  margin-left: auto;
}
@media screen and (min-width: 992px) {
  .az-header-menu-icon {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .font {
    font-size: 14px;
  }
}
@media screen and (max-width: 800px) {
  .done {
    width: 100% !important;
  }
}
@media screen and (max-width: 580px) {
  .vitau {
    margin-bottom: 120px;
  }
}
